.App {
  text-align: center;
  background-color: #f2e6ce;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: #f2e6ce;
  font-family: Garamond, serif;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/main/hedge-bg.jpg');
}

.Tagline {
  font-size: calc(20px + 2vmin);
}

.App-link {
  color: #445a09;
}

.Main {
  min-height: 100vh;
  color: #445a09;
  margin-top: 15vh;
}

.Border {
  min-height: 10vh;
  background-image: url(assets/main/leaf_pattern.png);
  background-size: 40vh;
  background-repeat: repeat-x;
}

.Logo {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  font-size: calc(30px + 2vmin);
  color: #f2e6ce;
  font-family: Garamond, serif;
  margin: 20px;
}